* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.fondo {
    height: 100%;
    background-image: url(../imagenes/building-4781384.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.borde {
    /* border: 5px solid red;
    background-color: green; */
}

.border {
    border: 5px solid rgb(1, 8, 7);
    background-color: #6c757b;
    text-align: center;
    margin: 5px;
}

a {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.container-fluid img {
    width: 500px;
    height: 200px;
    margin-left: 40px;
}

.titulo {
    color: black;
    font-size: 50px;
    margin-top: 7%;
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Mukta', sans-serif;
}

.subtitulo {
    color: black;
    font-size: 30px;
    width: 100%;
    text-align: justify;
    margin-top: 1%;
    margin-bottom: 1rem;
    font-family: 'Mukta', sans-serif;
    /* border: 5px solid red; */
}

.buttons {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
}

.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.buttons a:hover {
    transform: scale(1.2);
}

.border {
    text-align: center;
    border: 5px solid rgb(151, 38, 117);
    text-align: center;
}

.containeruno {
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    background-size: contain;
}

.containeruno img {
    width: 90%;
    margin: 3%;
}

.rightuno {
    color: black;
    text-align: justify;
    font-family: 'Acme', sans-serif;
}

.rightuno p,
ul {
    font-size: 20px;
    text-align: justify;
    margin: 0% 10% 5% 10%;
}